{% extends 'base.html' %}

{% block content %}
<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Rent a car here!</h2>
            <h5>RENT IT.</h5>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/Vehicle_Sale.png" alt="Vehicle Sale Image" class="header-image">
        </div>
    </header>

    <h2>Sign In Page</h2>
    <main class="container">
        <div class="row">
            <aside class="col-12 col-md-6">
                <h2>Sign In To Your Account</h2>
                {% include 'form.html' %}
            </aside>
        </div>
    </main>
</div>
{% endblock content %}